<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../css/master.css">
    <!-- <script src="node_modules/geo-distance-helper"></script> -->

    <style>
        /*here goes my customized css*/
    </style>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
</head>

<body>

    <nav>
        <div class="logo">
            <img src="images/logo.png">
        </div>

        <ul>
            <li class="active-menu">
                <a href="">Menu Title</a>
            </li>
            <li>
                <a href="">Menu Title</a>
            </li>
            <li>
                <a href="">Menu Title</a>
            </li>
            <li>
                <a href="">Menu Title</a>
            </li>
            <li>
                <a href="">Menu Title</a>
            </li>
            <li>
                <a href="">Menu Title</a>
            </li>
        </ul>
    </nav>

    <main class="section-form">

        <div class="goBack"><a href="index.html"><i class="fas fa-chevron-left" style="margin-right: 20px"></i>Go back to Menu Title</a></div>

        <div class="header">
            <h1>Adding an Item</h2>
                <p>Please fill up all the required fields (*).</p>
        </div>

        <table class="table-form">
            <tr>
                <td>
                    <label>Label*</label>
                    <input type="text" placeholder="Enter something here">
                </td>
                <td>
                    <label>Label*</label>
                    <input type="text" placeholder="Enter something here">
                </td>
            </tr>
            <tr>
                <td colspan="2" class="td-single">
                    <label>Label*</label>
                    <input type="text" placeholder="Enter something here">
                </td>
            </tr>
            <tr>
                <td>
                    <label>Label*</label>
                    <select name="colors" id="">
                        <option value="orange">orange</option>
                        <option value="pink">pink</option>
                        <option value="red">red</option>
                    </select>
                </td>
                <td>
                    <label>Label*</label>
                    <input type="text" placeholder="Enter something here">
                </td>
            </tr>
            <tr>
                <td>
                    <label>Sex*</label>

                    <input type="radio" name="sex" id="rb-female" value="Female"><label class="lbl-radio" for="rb-female">Female</label>

                    <input type="radio" name="sex" id="rb-male" value="Male"><label class="lbl-radio" for="rb-female">Male</label>
                </td>
                <td>
                    <label>Label*</label>
                    <input type="text" placeholder="Enter something here">
                </td>
            </tr>
        </table>

        <div class="btn-submit-container">
            <button type="submit"><a href="index.html">Save</a></button>
        </div>

    </main>
    <!-- <script typ="module" src="node_modules/geo-distance-helper"></script> -->
    <script src="sample.js"></script>


</body>

</html>