<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../css/master.css">
</head>

<body>

    <nav>
        <div class="logo">
            <a href="index.html"><img class="img-logo" src="images/logo.png"></a>
        </div>

        <ul>
            <li class="active-menu">
                <a href="">Menu Title</a>
            </li>
            <li>
                <a href="">Menu Title</a>
            </li>
            <li>
                <a href="">Menu Title</a>
            </li>
            <li>
                <a href="">Menu Title</a>
            </li>
            <li>
                <a href="">Menu Title</a>
            </li>
            <li>
                <a href="">Menu Title</a>
            </li>
        </ul>
    </nav>

    <main>

        <div class="header">
            <h1>Heading Title</h1>
            <p>Subtitle</p>
        </div>

        <div class="header-table">
            <div class="header">
                <h2>Table Title</h2>
                <p>Subtitle</p>
            </div>

            <button class="btn-add"><a href="add.html">+&nbsp;&nbsp;&nbsp;Add Route</a></button>
        </div>

        <table class="table-data">
            <tr class="table-header">
                <th>Title 1</th>
                <th>Title 2</th>
                <th>Title 3</th>
                <th>Title 4</th>
                <th>Title 5</th>
                <th>Title 6</th>
            </tr>
            <tr>
                <td>Some content</td>
                <td>Some content</td>
                <td>Some content</td>
                <td>Some content</td>
                <td>Some content</td>
                <td>Some content</td>
            </tr>
            <tr>
                <td>Some content</td>
                <td>Some content</td>
                <td>Some content</td>
                <td>Some content</td>
                <td>Some content</td>
                <td>Some content</td>
            </tr>
            <tr>
                <td>Some content</td>
                <td>Some content</td>
                <td>Some content</td>
                <td>Some content</td>
                <td>Some content</td>
                <td>Some content</td>
            </tr>
            <tr>
                <td>Some content</td>
                <td>Some content</td>
                <td>Some content</td>
                <td>Some content</td>
                <td>Some content</td>
                <td>Some content</td>
            </tr>
            <tr>
                <td>Some content</td>
                <td>Some content</td>
                <td>Some content</td>
                <td>Some content</td>
                <td>Some content</td>
                <td>Some content</td>
            </tr>
        </table>

    </main>

</body>

</html>